<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Приложению нужен доступ, чтобы сохранять фото из чата поддержки в галерею.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложению нужен доступ, чтобы выбрать фото для отправки в чат поддержки.</string>
</dict>
</plist>
